:root {
	// General Colors:
	--green: #6AAA64;
	--darkendGreen: #538D4E;
	--yellow: #C9B458;
	--darkendYellow: #B59F3B;
	--lightGray: #D8D8D8;
	--gray: #86888A;
	--darkGray: #939598;
	--white: #FFF;
	--black: #212121;
	--orange: #F5793A;
	--blue: #85C0F9;

	// Lightmode Colors:
	--color-tone-1: #1A1A1B;
	--color-tone-2: #787C7E;
	--color-tone-3: #878A8C;
	--color-tone-4: #D3D6DA;
	--color-tone-5: #EDEFF1;
	--color-tone-6: #F6F7F8;
	--color-tone-7: #FFF;
	--opacity-50: rgba(255, 255, 255, 0.5);

	--color-present: var(--yellow);
	--color-correct: var(--green);
	--color-absent: var(--color-tone-2);
	--tile-text-color: var(--color-tone-7);
	--key-text-color: var(--color-tone-1);
	--key-evaluated-text-color: var(--color-tone-7);
	--key-bg: var(--color-tone-4);
	--key-bg-present: var(--color-present);
	--key-bg-correct: var(--color-correct);
	--key-bg-absent: var(--color-absent);
	--modal-content-bg: var(--color-tone-7);
}

:root:has(.nightmode) {
	--color-tone-1: #D7DADC;
	--color-tone-2: #818384;
	--color-tone-3: #565758;
	--color-tone-4: #3A3A3C;
	--color-tone-5: #272729;
	--color-tone-6: #1A1A1B;
	--color-tone-7: #121213;
	--opacity-50: rgba(0, 0, 0, 0.5);

	--color-present: var(--darkendYellow);
	--color-correct: var(--darkendGreen);
	--color-absent: var(--color-tone-4);
	--tile-text-color: var(--color-tone-1);
	--key-text-color: var(--color-tone-1);
	--key-evaluated-text-color: var(--color-tone-1);
	--key-bg: var(--color-tone-2);
	--key-bg-present: var(--color-present);
	--key-bg-correct: var(--color-correct);
	--key-bg-absent: var(--color-absent);
	--modal-content-bg: var(--color-tone-7);
}

:root:has(.colorblind) {
	--color-correct: var(--orange);
	--color-present: var(--blue);
	--tile-text-color: var(--white);
	--key-bg-present: var(--color-present);
	--key-bg-correct: var(--color-correct);
	--key-bg-absent: var(--color-absent);
}